<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="css/amazeui.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="am-g">
		<div class="myArticle">
			<div class="myArticleHeadImg">
			    <div class="myArticGoBack"><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/></div>
				<div class="myArticleIco"><img src="img/userico.jpg" alt=""></div>
				<img src="img/a9.jpg">
			</div>
			<div class="myArticleName">
				SHANNON ROGERS
			</div>
			<div class="myArticleTitle">
				Prints, Poppies and Patterns: Touring the Marimekko Factory
			</div>
			<div class="myArticleTime">
				24 JAN 2016
			</div>
		</div>
	  <article data-am-widget="paragraph" class="myArticleText am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }">
	  
      <p>On the occasion of the last Stockholm Furniture Fair which has just closed its doors in Sweden, Carl Hansen announced the launching of production of two "new" models by Hans J. Wegner. The CH22 lounge chair, which marked the beginning of their long standing collaboration between the designer and Carl Hansen in the fifties, as well as the dining chair CH26, which was never put into production until today. This is an earlier model that has a lot of stylistic similarity with th.</p>
      <img src="img/a1.jpg" />
      <p>As usual with the creations of the famous Danish furniture manufacturer, the attention to details and balance of the construction is delightful.</p>
      <p>The CH22 and CH26 will be available in oak, walnut or a combination of both with multiple finishes, starting from summer 2016.</p>
  </article>
	<div class="myArticleComment">
		<div class="myArticleCommentInput">
			<div class="myArticleCommentInputTitle">
				<div class="commentNum">comment 3</div>
				<div class="commentShow">Show All <i class="am-icon-caret-down"></i></div>
			</div>
			<div class="myArticleInput">
				<div class="myArticleInputLeft"><img src="img/c1.jpg"></div>
				<div class="myArticleInputRight"><input type="text" placeholder="ÇëÊäÈëÎÄ×Ö" ></div>
			</div>
		</div>
		<div class="myArticleCommentList">
			<ul>
				<li>
					<dl class="myArticleCommentListLeft">
						<dt><img src="img/c2.jpg" alt=""></dt>
						<dd>
							<span>Designaddict</span>
							<i>19 FEB 2016</i>
						</dd>
					</dl>
					<dl class="myArticleCommentListRight">
						<dt><i class="am-icon-heart"></i> 720</dt>
						<dd><i class="am-icon-reply"></i></dd>
					</dl>
					<div class="myArticleCommentListText">
						Set of 4 chairs Binda design by Studio Grafite of Luca Leonori Produced by Palluco in 1982 Folding...
					</div>
				</li>
				<li>
					<dl class="myArticleCommentListLeft">
						<dt><img src="img/c3.jpg" alt=""></dt>
						<dd>
							<span>Mattiem</span>
							<i>19 FEB 2016</i>
						</dd>
					</dl>
					<dl class="myArticleCommentListRight">
						<dt><i class="am-icon-heart-o"></i> 89</dt>
						<dd><i class="am-icon-reply"></i></dd>
					</dl>
					<div class="myArticleCommentListText">
						Set of 4 chairs Binda design by Studio Grafite of Luca Leonori Produced by Palluco in 1982 Folding...
					</div>
				</li>
				<li>
					<dl class="myArticleCommentListLeft">
						<dt><img src="img/c4.jpg" alt=""></dt>
						<dd>
							<span>Dramos</span>
							<i>19 FEB 2016</i>
						</dd>
					</dl>
					<dl class="myArticleCommentListRight">
						<dt><i class="am-icon-heart-o"></i> 78</dt>
						<dd><i class="am-icon-reply"></i></dd>
					</dl>
					<div class="myArticleCommentListText">
						Set of 4 chairs Binda design by Studio Grafite of Luca Leonori Produced by Palluco in 1982 Folding...
					</div>
				</li>
				<li>
					<dl class="myArticleCommentListLeft">
						<dt><img src="img/c1.jpg" alt=""></dt>
						<dd>
							<span>Niceguy</span>
							<i>19 FEB 2016</i>
						</dd>
					</dl>
					<dl class="myArticleCommentListRight">
						<dt><i class="am-icon-heart-o"></i> 21</dt>
						<dd><i class="am-icon-reply"></i></dd>
					</dl>
					<div class="myArticleCommentListText">
						Set of 4 chairs Binda design by Studio Grafite of Luca Leonori Produced by Palluco in 1982 Folding...
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="js/amazeui.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>